//Tipografia
$font: 'Poppins', sans-serif;
$logo: 'Black Ops One', cursive;

//Colores
$amarillo: #f7f052;
$naranja: #f28123;
$zapote: #d34e24;
$marron: #563f1b;
$verde: #38726c;
$negro: #000000;
$blanco: #ffffff;

//BreakPoints
$small: 480px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;

//Flex
$sBtween: space-between;
$align: center;